In [1]:
import pandas as pd
import numpy as np

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

### 1. 서울시 우리마을가게 상권분석서비스 : 상권코드_지역 매핑

In [12]:
# market_code_loc_map = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권영역).csv',encoding='euc-kr')
market_loc = pd.read_csv('./data/서울시 상권분석서비스(상권영역).csv',encoding='euc-kr')

market_loc = market_loc[['상권_코드','행정동_코드']]
market_loc['상권_코드'] = market_loc['상권_코드'] - 1000000
market_loc.head(3)

     상권_코드    행정동_코드
0  2110008  11110515
1  2110009  11110550
2  2110010  11110560

- 좌표 => 법정동 코드

In [11]:
# mapping_df = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/법정동-행정동 매핑.csv', encoding='utf-8-sig')
loc_map = pd.read_csv('./data/법정동-행정동 매핑.csv', encoding='utf-8-sig')

loc_map = loc_map[['행정동코드','법정동코드']]
loc_map = loc_map.rename(columns = {'행정동코드':'행정동_코드','법정동코드':'법정동_코드'})
loc_map.head(3)

     행정동_코드    법정동_코드
0  11000000  11000000
1  11110000  11110000
2  11110515  11110101

In [14]:
market_loc_map = pd.merge(market_loc, loc_map, on = ['행정동_코드'])
market_loc_map.head(3)
# market_loc_map.to_csv('market_loc_map.csv',encoding='euc-kr',index=False)


## 서울시 우리마을가게 상권분석서비스 : 상권

In [192]:
# market_income_consume = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권-소득소비).csv',encoding='euc-kr')
market_income_consume = pd.read_csv('./data/서울시 상권분석서비스(상권-소득소비).csv', encoding='euc-kr')
print(market_income_consume.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '월_평균_소득_금액', '소득_구간_코드', '지출_총금액', '식료품_지출_총금액', '의류_신발_지출_총금액',
       '생활용품_지출_총금액', '의료비_지출_총금액', '교통_지출_총금액', '여가_지출_총금액', '문화_지출_총금액',
       '교육_지출_총금액', '유흥_지출_총금액'],
      dtype='object')

In [193]:
# market_living_population = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권-생활인구).csv',encoding='euc-kr')
market_living_population = pd.read_csv('./data/서울시 상권분석서비스(상권-생활인구).csv',encoding='euc-kr')

market_living_population = market_living_population.rename(columns = {'기준 년코드':'기준_년_코드'})
print(market_living_population.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', ' 상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '총_생활인구_수', '남성_생활인구_수', '여성_생활인구_수', '연령대_10_생활인구_수', '연령대_20_생활인구_수',
       '연령대_30_생활인구_수', '연령대_40_생활인구_수', '연령대_50_생활인구_수', '연령대_60_이상_생활인구_수',
       '시간대_1_생활인구_수', '시간대_2_생활인구_수', '시간대_3_생활인구_수', '시간대_4_생활인구_수',
       '시간대_5_생활인구_수', '시간대_6_생활인구_수', '월요일_생활인구_수', '화요일_생활인구_수',
       '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수'],
      dtype='object')

In [194]:
# market_working_population = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권-직장인구).csv',encoding = 'euc-kr')
market_working_population = pd.read_csv('./data/서울시 상권분석서비스(상권-직장인구).csv',encoding = 'euc-kr')

market_working_population = market_working_population.rename(columns = {'기준_년월_코드':'기준_년_코드'})
print(market_working_population.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수',
       '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수'],
      dtype='object')

In [195]:
# market_apart = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권-아파트).csv',encoding='euc-kr')
market_apart = pd.read_csv('./data/서울시 상권분석서비스(상권-아파트).csv',encoding='euc-kr')
print(market_apart.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '아파트_단지_수', '아파트_가격_1_억_미만_세대_수', '아파트_가격_1_억_세대_수', '아파트_가격_2_억_세대_수',
       '아파트_가격_3_억_세대_수', '아파트_가격_4_억_세대_수', '아파트_가격_5_억_세대_수',
       '아파트_가격_6_억_이상_세대_수'],
      dtype='object')

In [196]:
# market_store = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권-점포).csv',encoding='euc-kr')
market_store = pd.read_csv('./data/서울시 상권분석서비스(상권-점포).csv',encoding='euc-kr')
print(market_store.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [197]:
merge_df1 = pd.merge(market_income_consume, market_living_population, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_income', '_living'))
merge_df2 = pd.merge(merge_df1, market_working_population, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_merge1', '_working'))
merge_df3 = pd.merge(merge_df2, market_apart, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_merge2', '_apart'))
merge_df4 = pd.merge(merge_df3, market_store, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_merge3', '_store'))
merge_df4

,기준_년_코드_income,기준_분기_코드,상권_구분_코드,상권_구분_코드_명_merge1,상권_코드,상권_코드_명_income,월_평균_소득_금액,소득_구간_코드,지출_총금액,식료품_지출_총금액,...,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,점포_수,유사_업종_점포_수,개업_율,개업_점포_수,폐업_률,폐업_점포_수,프랜차이즈_점포_수
0,2022,4,A,골목상권,2110001,이북5도청사,4305934.0,8.0,5.204276e+08,1.291260e+08,...,이북5도청사,CS300043,전자상거래업,1,1,0,0,0,0,0
1,2022,4,A,골목상권,2110001,이북5도청사,4305934.0,8.0,5.204276e+08,1.291260e+08,...,이북5도청사,CS300035,인테리어,1,1,0,0,0,0,0
2,2022,4,A,골목상권,2110001,이북5도청사,4305934.0,8.0,5.204276e+08,1.291260e+08,...,이북5도청사,CS300033,철물점,1,1,0,0,0,0,0
3,2022,4,A,골목상권,2110001,이북5도청사,4305934.0,8.0,5.204276e+08,1.291260e+08,...,이북5도청사,CS300032,가전제품,1,1,100,1,0,0,0
4,2022,4,A,골목상권,2110001,이북5도청사,4305934.0,8.0,5.204276e+08,1.291260e+08,...,이북5도청사,CS300027,섬유제품,1,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276151,2022,1,U,관광특구,1001495,잠실 관광특구,4241377.0,8.0,8.751577e+09,1.816409e+09,...,잠실 관광특구,CS100005,제과점,20,39,0,0,0,0,19
276152,2022,1,U,관광특구,1001495,잠실 관광특구,4241377.0,8.0,8.751577e+09,1.816409e+09,...,잠실 관광특구,CS100004,양식음식점,59,70,3,2,0,0,11
276153,2022,1,U,관광특구,1001495,잠실 관광특구,4241377.0,8.0,8.751577e+09,1.816409e+09,...,잠실 관광특구,CS100003,일식음식점,37,43,2,1,0,0,6
276154,2022,1,U,관광특구,1001495,잠실 관광특구,4241377.0,8.0,8.751577e+09,1.816409e+09,...,잠실 관광특구,CS100002,중식음식점,22,23,4,1,0,0,1
276155,2022,1,U,관광특구,1001495,잠실 관광특구,4241377.0,8.0,8.751577e+09,1.816409e+09,...,잠실 관광특구,CS100001,한식음식점,225,254,1,2,3,7,29

In [206]:
print(merge_df4.duplicated(subset=['기준_분기_코드','상권_구분_코드','상권_코드']).sum())
market_df = merge_df4.drop_duplicates(subset=['기준_분기_코드','상권_구분_코드','상권_코드'])
print(len(market_df))

270268
5888

In [207]:
market_df.to_csv('market_merge_df.csv',encoding='euc-kr',index=False)

### 2. 서울시 우리마을가게 상권분석서비스 : 상권배후지

In [208]:
# hinterland_income_consume = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권배후지-소득소비).csv',encoding='euc-kr')
hinterland_income_consume = pd.read_csv('./data/서울시 상권분석서비스(상권배후지-소득소비).csv',encoding='euc-kr')
hinterland_income_consume = hinterland_income_consume.rename(columns = {'기준 년 코드':'기준_년_코드'})
print(hinterland_income_consume.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '월_평균_소득_금액', '소득_구간_코드', '지출_총금액', '식료품_지출_총금액', '의류_신발_지출_총금액',
       '생활용품_지출_총금액', '의료비_지출_총금액', '교통_지출_총금액', '여가_지출_총금액', '문화_지출_총금액',
       '교육_지출_총금액', '유흥_지출_총금액'],
      dtype='object')

In [209]:
# hinterland_living_population = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권배후지-생활인구).csv',encoding='euc-kr')
hinterland_living_population = pd.read_csv('./data/서울시 상권분석서비스(상권배후지-생활인구).csv',encoding='euc-kr')
print(hinterland_living_population.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '총_생활인구_수',
       '남성_생활인구_수', '여성_생활인구_수', '연령대_10_생활인구_수', '연령대_20_생활인구_수',
       '연령대_30_생활인구_수', '연령대_40_생활인구_수', '연령대_50_생활인구_수', '연령대_60_이상_생활인구_수',
       '시간대_1_생활인구_수', '시간대_2_생활인구_수', '시간대_3_생활인구_수', '시간대_4_생활인구_수',
       '시간대_5_생활인구_수', '시간대_6_생활인구_수', '월요일_생활인구_수', '화요일_생활인구_수',
       '수요일_생활인구_수', '목요일_생활인구_수', '금요일_생활인구_수', '토요일_생활인구_수', '일요일_생활인구_수'],
      dtype='object')

In [210]:
# hinterland_living_population = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권배후지-직장인구).csv',encoding='euc-kr')
hinterland_working_population = pd.read_csv('./data/서울시 상권분석서비스(상권배후지-직장인구).csv',encoding = 'euc-kr')
print(hinterland_working_population.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '총_직장_인구_수', '남성_직장_인구_수', '여성_직장_인구_수', '연령대_10_직장_인구_수',
       '연령대_20_직장_인구_수', '연령대_30_직장_인구_수', '연령대_40_직장_인구_수', '연령대_50_직장_인구_수',
       '연령대_60_이상_직장_인구_수'],
      dtype='object')

In [211]:
# hinterland_apart = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권배후지-아파트).csv',encoding='euc-kr')
hinterland_apart = pd.read_csv('./data/서울시 상권분석서비스(상권배후지-아파트).csv',encoding = 'euc-kr')
print(hinterland_apart.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '아파트_단지_수', '아파트_가격_1_억_미만_세대_수', '아파트_가격_1_억_세대_수', '아파트_가격_2_억_세대_수',
       '아파트_가격_3_억_세대_수', '아파트_가격_4_억_세대_수', '아파트_가격_5_억_세대_수',
       '아파트_가격_6_억_이상_세대_수'],
      dtype='object')

In [212]:
# hinterland_store = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권배후지-점포).csv',encoding='euc-kr')
hinterland_store = pd.read_csv('./data/서울시 상권분석서비스(상권배후지-점포).csv',encoding='euc-kr')
print(hinterland_store.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '점포_수', '유사_업종_점포_수', '개업_율', '개업_점포_수',
       '폐업_률', '폐업_점포_수', '프랜차이즈_점포_수'],
      dtype='object')

In [213]:
# hinterland_gather_facility = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(상권배후지-집객시설).csv',encoding='euc-kr')
hinterland_gather_facility = pd.read_csv('./data/서울시 상권분석서비스(상권배후지-집객시설).csv',encoding='euc-kr')
print(hinterland_gather_facility.columns)

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '집객시설_수', '관공서_수', '은행_수', '종합병원_수', '일반_병원_수', '약국_수', '유치원_수',
       '초등학교_수', '중학교_수', '고등학교_수', '대학교_수', '백화점_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '공항_수', '철도_역_수', '버스_터미널_수', '지하철_역_수', '버스_정거장_수'],
      dtype='object')

In [214]:
merge_df1 = pd.merge(hinterland_income_consume, hinterland_living_population, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_income', '_living'))
merge_df2 = pd.merge(merge_df1, hinterland_working_population, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_merge1', '_working'))
merge_df3 = pd.merge(merge_df2, hinterland_apart, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_merge2', '_apart'))
merge_df4 = pd.merge(merge_df3, hinterland_store, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_merge3', '_store'))
merge_df5 = pd.merge(merge_df4, hinterland_gather_facility, on=['기준_분기_코드', '상권_구분_코드', '상권_코드'], suffixes=('_merge4', '_gather_facility'))

In [216]:
merge_df = merge_df5.drop_duplicates(['기준_분기_코드', '상권_구분_코드', '상권_코드'], keep='first')
hinterland_df = merge_df5
hinterland_df.to_csv('hinterland_merge_df.csv',encoding='euc-kr',index=False)

## 3. 서울시 우리마을가게 상권분석서비스 : 행정동별 상권변화지표

In [217]:
# loc_market_chg = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 상권분석서비스(행정동별 상권변화지표).csv',encoding='euc-kr')
loc_market_chg = pd.read_csv('./data/서울시 상권분석서비스(행정동별 상권변화지표).csv',encoding='euc-kr')
loc_market_chg.head(3)

,기준_년_코드,기준_분기_코드,행정동_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,폐업_영업_개월_평균,서울_운영_영업_개월_평균,서울_폐업_영업_개월_평균
0,2022,4,11740700,둔촌2동,HL,상권축소,127,52,123,56
1,2022,4,11740690,둔촌1동,HH,정체,184,72,123,56
2,2022,4,11740685,길동,LL,다이나믹,118,50,123,56

### 4. 서울시 행정동별 대중교통 총 승차 승객수 정보

In [333]:
# bus = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 행정동별 버스 총 승차 승객수 정보.csv',encoding='euc-kr')
# subway = pd.read_csv('/content/drive/MyDrive/프로젝트/2023 빅콘테스트/data/서울시 행정동별 지하철 총 승차 승객수 정보.csv',encoding='euc-kr')
bus = pd.read_csv('./data/서울시 행정동별 버스 총 승차 승객수 정보.csv',encoding='euc-kr')
subway = pd.read_csv('./data/서울시 행정동별 지하철 총 승차 승객수 정보.csv',encoding='euc-kr')
map_df = pd.read_csv('./data/법정동-행정동-행정구역 매핑.csv',encoding='euc-kr')

merged_data = pd.merge(bus, subway, on=['기준_날짜','행정동_ID'],how='inner')
public_trans_df = merged_data
# 행정동_ID, 행정동_코드 map
public_trans_df = pd.merge(public_trans_df,map_df,on='행정동_ID')
public_trans_df = public_trans_df[public_trans_df.duplicated()]
public_trans_df.head(3)

,기준_날짜,행정동_ID,버스_승객_수,버스_승객수_시간대1,버스_승객수_시간대2,버스_승객수_시간대3,버스_승객수_시간대4,버스_승객수_시간대5,버스_승객수_시간대6,지하철_승객_수,...,지하철_승객수_시간대2,지하철_승객수_시간대3,지하철_승객수_시간대4,지하철_승객수_시간대5,지하철_승객수_시간대6,시도,시군구,행정구역명,행정동_코드,법정동_코드
13,202212,1113069,7054,266,1341,1715,1657,1442,633,1469.0,...,391,400,318,277,61,서울특별시,서대문구,남가좌1동,11410690,11410120
19,202212,1113069,7054,266,1341,1715,1657,1442,633,2474.0,...,724,615,622,358,129,서울특별시,서대문구,남가좌1동,11410690,11410120
20,202212,1113069,7054,266,1341,1715,1657,1442,633,2474.0,...,724,615,622,358,129,서울특별시,서대문구,남가좌1동,11410690,11410120

In [334]:
public_trans_df.to_csv('public_trans_df.csv',encoding='utf-8-sig',index=False)

### 7. 전체 데이터 통합
#### <데이터>
- market_df
- hinterland_df
- loc_market_chg
- public_trans_df

#### <매핑 칼럼>
- 기준_년월_코드
- 상권_코드
- 행정동_코드

- 상권 data, 배후지 data merge

In [228]:
merge_df1 = pd.merge(market_df,hinterland_df,on = ['기준_분기_코드', '상권_구분_코드', '상권_코드'])
market_hinterland_df = merge_df1.drop_duplicates(subset = ['기준_분기_코드', '상권_구분_코드', '상권_코드'])
# market_hinterland_df.to_csv('market_hinterland_df.csv',encoding='euc-kr',index=False)

- 법정동, 행정동 mapping

In [231]:
market_loc_map = pd.read_csv('./data/market_loc_map.csv',encoding='euc-kr')
market_loc_map

        상권_코드    행정동_코드    법정동_코드  STDG_EMD_CD
0     2110008  11110515  11110101     11110101
1     2110008  11110515  11110102     11110102
2     2110008  11110515  11110103     11110103
3     2110008  11110515  11110104     11110104
4     2110008  11110515  11110105     11110105
...       ...       ...       ...          ...
3453  2130102  11230750  11230110     11230110
3454  2130166  11380590  11380107     11380107
3455  2130113  11260690  11260106     11260106
3456  2130124  11290780  11290138     11290138
3457  2001495  11710566  11710111     11710111

[3458 rows x 4 columns]

In [ ]:
loc_market_chg = pd.merge(loc_market_chg, market_loc_map, on = '행정동_코드')
loc_market_chg = loc_market_chg.drop_duplicates(subset=['기준_분기_코드','행정동_코드','상권_코드'])

In [ ]:
market_hinterland_df = pd.merge(market_hinterland_df, market_loc_map, on = '상권_코드')
market_hinterland_df = market_hinterland_df.drop_duplicates(subset=['기준_분기_코드','행정동_코드','상권_코드'])

- 상권-배후지 data, 상권변화지표 mapping

In [274]:
total_market_df = pd.merge(loc_market_chg, market_hinterland_df,on = ['기준_분기_코드', '상권_코드','법정동_코드'])
total_market_df = total_market_df.drop_duplicates(subset = ['기준_분기_코드', '상권_구분_코드', '상권_코드','법정동_코드'])
# total_market_df.to_csv('total_market_df.csv',encoding='euc-kr',index=False)

### 분기 데이터와 월 데이터 확장
- 1분기 : 3월, 2분기 : 6월, 3분기 : 9월, 4분기 : 12월로 변형
- 변형한 분기 칼럼과 월 칼럼으로 join

In [326]:
# 기준분기, 기준월 정규화
mapping = {1:'03', 2:'06', 3:'09', 4:'12'}
total_market_df['기준_월'] = total_market_df['기준_분기_코드'].map(mapping)
total_market_df['기준_날짜'] = total_market_df['기준_년_코드_x'].astype(str) + total_market_df['기준_월'].astype(str).str.zfill(2)

In [327]:
reorder = ['기준_날짜'] + ['행정동_코드_x'] + ['법정동_코드'] + ['상권_코드'] + [col for col in total_market_df.columns if col != ['기준_년월_코드','행정동_코드_x','법정동_코드','상권_코드']]
total_market_df = total_market_df[reorder]
total_market_df = total_market_df.T.drop_duplicates().T
total_market_df['기준_날짜'] = total_market_df['기준_날짜'].astype('int64')
total_market_df = total_market_df.rename(columns = {'행정동_코드_x':'행정동_코드'})
total_market_df.head(3)

,기준_날짜,행정동_코드,법정동_코드,상권_코드,기준_년_코드_x,기준_분기_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,...,백화점_수,슈퍼마켓_수,극장_수,숙박_시설_수,공항_수,철도_역_수,버스_터미널_수,지하철_역_수,버스_정거장_수,기준_월
0,202212,11740700,11740106,2111079,2022,4,둔촌2동,HL,상권축소,127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,31,12
1,202212,11740700,11740106,2111081,2022,4,둔촌2동,HL,상권축소,127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,12
2,202212,11740700,11740106,2111082,2022,4,둔촌2동,HL,상권축소,127,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,14,12

- 전체 상권 data, public trans data merge

In [352]:
for col in total_market_df.columns:
    total_market_df[col] = pd.to_numeric(total_market_df[col], errors='coerce')

In [355]:
seoul_total = pd.merge(total_market_df, public_trans_df, on = ['기준_날짜','행정동_코드'])
seoul_total = seoul_total.drop_duplicates(subset = ['기준_날짜','행정동_코드','상권_코드'])
seoul_total

,기준_날짜,행정동_코드,법정동_코드_x,상권_코드,기준_년_코드_x,기준_분기_코드,행정동_코드_명,상권_변화_지표,상권_변화_지표_명,운영_영업_개월_평균,...,지하철_승객수_시간대1,지하철_승객수_시간대2,지하철_승객수_시간대3,지하철_승객수_시간대4,지하철_승객수_시간대5,지하철_승객수_시간대6,시도,시군구,행정구역명,법정동_코드_y
0,202212,11740700,11740106,2111079,2022,4,NaN,NaN,NaN,127,...,39,1022,992,899,649,161,서울특별시,강동구,둔촌2동,11740106
336,202212,11740700,11740106,2111081,2022,4,NaN,NaN,NaN,127,...,39,1022,992,899,649,161,서울특별시,강동구,둔촌2동,11740106
672,202212,11740700,11740106,2111082,2022,4,NaN,NaN,NaN,127,...,39,1022,992,899,649,161,서울특별시,강동구,둔촌2동,11740106
1008,202212,11740700,11740106,2111073,2022,4,NaN,NaN,NaN,127,...,39,1022,992,899,649,161,서울특별시,강동구,둔촌2동,11740106
1344,202212,11740700,11740106,2111076,2022,4,NaN,NaN,NaN,127,...,39,1022,992,899,649,161,서울특별시,강동구,둔촌2동,11740106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2700557,202206,11110515,11110101,2110015,2022,2,NaN,NaN,NaN,107,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101
2701427,202203,11110515,11110101,2110008,2022,1,NaN,NaN,NaN,106,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101
2702358,202203,11110515,11110101,2110011,2022,1,NaN,NaN,NaN,106,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101
2703289,202203,11110515,11110101,2110014,2022,1,NaN,NaN,NaN,106,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101
2704220,202203,11110515,11110101,2110015,2022,1,NaN,NaN,NaN,106,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101

In [338]:
# seoul_total.to_csv('seoul_total.csv',encoding='euc-kr',index=False)

- 전체 상권 data, contest data merge

In [344]:
contest_df = pd.read_csv('./data/대회 제공/필지단위 소상공인 매출등급 정보.csv')
contest_df.head(3)

   DATA_CRTR_YM     LT_UNQ_NO  STDG_EMD_CD INDUSTRY_CD  SLS_GRD
0        202201  1.111010e+18     11110101         A03        4
1        202201  1.111010e+18     11110101         A01        2
2        202201  1.111010e+18     11110101         A11        3

In [ ]:
seoul_total = seoul_total.rename(columns = {'기준_날짜':'DATA_CRTR_YM','법정동_코드_x':'STDG_EMD_CD'})

In [362]:
market_contest_merge = pd.merge(contest_df,seoul_total,on = ['DATA_CRTR_YM','STDG_EMD_CD'])
market_contest_merge.head(3)

,DATA_CRTR_YM,LT_UNQ_NO,STDG_EMD_CD,INDUSTRY_CD,SLS_GRD,행정동_코드,상권_코드,기준_년_코드_x,기준_분기_코드,행정동_코드_명,...,지하철_승객수_시간대1,지하철_승객수_시간대2,지하철_승객수_시간대3,지하철_승객수_시간대4,지하철_승객수_시간대5,지하철_승객수_시간대6,시도,시군구,행정구역명,법정동_코드_y
0,202203,1.111010e+18,11110101,A03,4,11110515,2110008,2022,1,NaN,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101
1,202203,1.111010e+18,11110101,A03,4,11110515,2110011,2022,1,NaN,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101
2,202203,1.111010e+18,11110101,A03,4,11110515,2110014,2022,1,NaN,...,0,0,0,0,0,0,서울특별시,종로구,청운효자동,11110101

In [364]:
market_contest_merge.to_csv('market_contest_merge.csv',encoding='euc-kr',index=False)